.table-view{
   -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#000000 0%,   #ad1457 70%);
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected {
    -fx-background-color:   #212121

}



.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color:   #ad1457;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb {
	-fx-background-color:  #5b0033;
}


.corner {
	-fx-background-color:   #ad1457;
}

.table-view .filler{
	-fx-background-color:  #ffcc80;
}

.text-field {
    -fx-prompt-text-fill: #616161;
}